<% cache do %>
<div class="container">

<h2 id="aboutwelcome"> Who on Earth is the Berlin Bike Shop?</h2>

<p id="bluelinestory">

Now here's a little story that I've got to tell about two rad brothers that you know so well. It started way back in history with David Zapalac and me, Fred Z. The year was 2005, and I'd been managing another local bike store for a while and was looking to make a move. My brother David had recently moved back to Houston from Laramie, Wyoming, where he'd been attending Wyoming Technical University to become an ASE certified auto mechanic. We had both been saving up our money for a while, and we put our heads together and brainstormed what would one day become the best bike shop in Houston. It took us a while to find just the right spot to open our new store in, and we were close to giving up when we stumbled across an abandoned old convenience on a deserted street in the Heights while out on a bike ride. We stopped and wiped the dust off the window so that we could peek through the bars, and we liked what we saw so we called the number on the For Lease sign. A few months later, on October 31st, 2005,  we took possession of our original location at 3302 White Oak Drive without ever having set foot inside the building. As it turns out, looking through the bars of a dirty old window is not really the best way to judge the condition of a building, and our first steps through the door were a rude awakening. The place was in shambles, and clearly had a family living inside of it in third world conditions for quite some time. We'd already signed the lease though and were committed to our course, so we rolled up our sleeves and got to work. With our parents and my wife Jennifer laboring beside us, we worked every day except Thanksgiving from morning to midnight that November and were able to open for business on December 1st, 2005. It's been a wild ride ever since!
<br>
<br>
People ask us all the time where we came up with the name Blue Line Bike Lab. Is it a law enforcement reference? Are we hockey fans? Do we track race? Well, no. The truth is that we wanted something that sounded cool, and that's just what we came up with. The Blue Line part was actually supposed to reference a river on a map since we'd originally hoped to carry kayaks and paddling gear alongside our bikes, but that proved to be a pipe dream in the amount of space that we had to work with. Maybe one day we'll make that part happen, but it won't be anytime soon.
<br>
<br>
</p>

<h3 id="storyquote">"You're the reason that we're here, and we can't wait to meet you."</h3>
<p>
<br>
<br>
Our first few years in the bike business were tough, and if it weren't for the love and support of our family and the amazing support of our Heights neighbors we probably wouldn't be here today. We struggled to find reputable bike brands that weren't already locally represented, and our first few years saw a motley collection of bicycle companies on our floor. We opened with K2, Ironhorse, Madwagon, and DK bicycles as our main brands, and soon added Cadillac and Torker bikes to the mix. When I look at that list now, I can't even believe that we're still here. Our neighbors in the Heights kept coming in and buying what we had to offer those first few years though, and sometimes it felt like they were just as determined that we were going to make it as we were. When I say that we're forever grateful for everything that this neighborhood and our city has done for us, I mean it. We kept plugging away and working our way up through the strata of bicycle brands until 2010, when we were lucky enough to pick up both Jamis and Kona and begin flooring the same awesome lines of bikes that we're still selling today. We've made a few more additions to our lines over the years, like our world class mountain bikes from Pivot, our industry best road bikes from Cervelo, our super popular Townies from Electra, and our stylish fixed gear and city bikes from our friends at Tribe Bicycles, but our core business has been built around the top notch bikes for everyday people that Jamis and Kona bring to us every year, and we'll always consider ourselves lucky to represent these two great brands.
<br>
<br>
So who are we? Well, I guess that really depends on who you ask and when you ask it. The Blue Line Bike Lab experience is dynamic, and we change constantly as we pursue our vision of becoming the best bike shop ever. We always ask ourselves what kind of experience we'd like to have if we were the ones shopping for a bike, and have evolved almost daily as we try to become the perfect shop for both hard core cyclists and folks that are just throwing a leg over a bike for the first time. We've got a long way to go before we're perfect, but I promise you that we're trying and we're going to take the time to find out who you are, listen to what you want, and help you find the perfect solution for your needs. We're a bike shop, we're a community, and most of all we're a family where love comes first and everyone is welcome.  I'd like to invite you to come in and see who we are, and hopefully welcome you into our Blue Line family.
<br>
-Fred Zapalac, President


</p>

</div>
<% end %>
