<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<br>
<br>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("rainbowbike.jpg", class: "img-responsive  main-pic") %>
<p> All your biking needs!<p>
