<div class="panel panel-default" id="tytemplate">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <p>Click <%= link_to 'here', root_path %> to go back to the home page! </p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
